{{ define "content/contacts/edit" }}
<h1>Edit Contact</h1>
<form action="/contacts/update" method="post" class="mt-3">
    <input type="hidden" name="id" value="{{ .ID }}">
    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control" required value="{{ .Name }}">
    </div>
    <div class="mb-3">
        <label>Phone</label>
        <input type="text" name="phone" class="form-control" required value="{{ .Phone }}">
    </div>
    <button type="submit" class="btn btn-primary">Update Contact</button>
</form>
{{ end }}